<section class="mt-100 mb-100">
  <div class="container">
    <h2 class="mb-50 text-indigo">Section 3: <b>Going Live</b> </h2>
    <div class="rvs-container">
      <div class="rvs-item-container">
        <div class="rvs-item-stage">
          <div class="rvs-item" style="background-image: url(<% url('/asset/images/getting-started/gl-slide01.png') %>)">
            <a href="https://www.youtube.com/watch?v=LkEqVNhvzjE" class="rvs-play-video"></a>
          </div>
          <div class="rvs-item" style="background-image: url(<% url('/asset/images/getting-started/gl-slide02.png') %>)">
            <a href="https://www.youtube.com/watch?v=t2BiMYg3Iec" class="rvs-play-video"></a>
          </div>
          <div class="rvs-item" style="background-image: url(<% url('/asset/images/getting-started/gl-slide03.png') %>)">
            <a href="https://www.youtube.com/watch?v=gyuTg_l2RtQ" class="rvs-play-video"></a>
          </div>
          <div class="rvs-item" style="background-image: url(<% url('/asset/images/getting-started/gl-slide04.png') %>)">
            <a href="https://www.youtube.com/watch?v=paqdUBV36Wk" class="rvs-play-video"></a>
          </div>
        </div>
      </div>
      <div class="rvs-nav-container">
        <a class="rvs-nav-prev"></a>
        <div class="rvs-nav-stage">
          <a class="rvs-nav-item custom-height-4col">
            <span class="rvs-nav-item-thumb" style="background-image: url(<% url('/asset/images/getting-started/gl-slide01.png') %>"></span>
            <h4 class="rvs-nav-item-title">Creating Customer Instructions</h4>
            <small class="rvs-nav-item-credits">by Corjl.com</small>
          </a>
          <a class="rvs-nav-item custom-height-4col">
            <span class="rvs-nav-item-thumb" style="background-image: url(<% url('/asset/images/getting-started/gl-slide02.png') %>)"></span>
            <h4 class="rvs-nav-item-title">Connecting Designs to Etsy Listings</h4>
            <small class="rvs-nav-item-credits">by Corjl.com</small>
          </a>
          <a class="rvs-nav-item custom-height-4col">
            <span class="rvs-nav-item-thumb" style="background-image: url(<% url('/asset/images/getting-started/gl-slide03.png') %>)"></span>
            <h4 class="rvs-nav-item-title">Managing Orders</h4>
            <small class="rvs-nav-item-credits">by Corjl.com</small>
          </a>
          <a class="rvs-nav-item custom-height-4col">
            <span class="rvs-nav-item-thumb" style="background-image: url(<% url('/asset/images/getting-started/gl-slide04.png') %>)"></span>
            <h4 class="rvs-nav-item-title">Setting Up a Custom Order</h4>
            <small class="rvs-nav-item-credits">by Corjl.com</small>
          </a>
        </div>
        <a class="rvs-nav-next"></a>
      </div>
    </div>
  </div>
  <div class="container"><a href="#section1">Back to top</a></div>
</section>


<% url('/asset/images/getting-started/gl-slide01.png') %>
  
  
<# Section Editing #>
<% include('/block/pages/mugs-and-products/section-editing') %>
<# Section How To #>
<% include('/block/pages/mugs-and-products/section-how-to') %>
<# Section Features #>
<% include('/block/pages/mugs-and-products/section-features') %>
<# Section Designer Control #>
<% include('/block/pages/mugs-and-products/section-designer-control') %>
  
  
  <# Section Etys Setup #>
<% include('/block/pages/why-corjl/section-etsy-setup') %>

  