<div class="container">
  <div class="row">
    <div class="col-sm-4">Content. This is content, it is not meant to be read or understood. Something random goes here, it can be whatever you want, it's just blankish content provided so that it fills up some space, pretty boring huh?</div>
    <div class="col-sm-8">
      <iframe class="col-lg-2 col-md-6 col-sm-12 col-xs-12" src="http://www.youtube.com/embed/KgMttr4Vc" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>


<% url('/asset/images/team/john.jpg') %>
  
  
<# Section Editing #>
<% include('/block/pages/mugs-and-products/section-editing') %>
<# Section How To #>
<% include('/block/pages/mugs-and-products/section-how-to') %>
<# Section Features #>
<% include('/block/pages/mugs-and-products/section-features') %>
<# Section Designer Control #>
<% include('/block/pages/mugs-and-products/section-designer-control') %>
  
  
  <# Section Etys Setup #>
<% include('/block/pages/why-corjl/section-etsy-setup') %>

  