<header id="header" class="tt-nav transparent-header">
    <div class="header-sticky light-header">
        <div class="container">
            <div class="search-wrapper">
                <div class="search-trigger pull-right">
                    <div class='search-btn'></div>
                    <i class="material-icons2 fas fa-search"></i>
                </div>
                <# Modal Search Form #>
                <i class="search-close fas fa-times"></i>
                <div class="search-form-wrapper">
                    <form action="#" class="white-form">
                        <div class="input-field">
                            <input type="text" name="search" id="search">
                            <label for="search" class="">Search Here...</label>
                        </div>
                        <button class="btn pink search-button waves-effect waves-light" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </div>
            <# Top Navigation #>
            <div id="materialize-menu" class="menuzord">
                <a href="https://www.corjl.com/" class="logo-brand">
                    <img src="<% url('/asset/images/base/corjl-logo.png') %>" alt="Corjl.com" />
                </a>
                <# Navigation #>
                <ul class="menuzord-menu pull-right primary-nav">
                    <li>
                        <a href="https://www.corjl.com/testing/home">Home
                        <!--<i class="fas fa-home" style="margin-top: 38px;"></i>-->
                        </a>
                    </li> 
                    <li><a href="javascript:void(0)">How It Works</a>
                        <ul class="dropdown">
                            <li><a href="https://www.corjl.com/testing/how-it-works/">How It Works</a></li> 
                            <li><a href="#">Popular Item</a>
                                <ul class="dropdown">
                                    <li><a href="https://www.corjl.com/editable-party-invitation-maker/">Party Invitations</a></li>
                                    <li><a href="https://www.corjl.com/t-shirt-design-online/">T-Shirts &amp; Clothing</a> </li>
                                    <li><a href="https://www.corjl.com/printable-gift-tags/">Gift Tags &amp; Labels</a> </li> 
                                    <li><a href="https://www.corjl.com/custom-mug-design/">Mugs &amp; Products</a> </li> 
                                </ul>
                            </li>
                            <li><a href="https://www.corjl.com/etsy-sellers/">Why Corjl?</a></li> 
                            <li><a href="https://www.corjl.com/mobile-friendly/">Mobile Editing</a></li> 
                            <li><a href="https://www.corjl.com/faq/">FAQ</a></li> 
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)">About</a>
                        <ul class="dropdown">
                            <li><a href="https://www.corjl.com/about/">About Corjl</a></li> 
                            <li><a href="https://www.corjl.com/the-team/">The Team</a></li> 
                            <li><a href="https://www.corjl.com/tos/">Terms Of Service</a></li> 
                            <li><a href="https://www.corjl.com/privacy-policy/">Privacy Policy</a></li> 
                            <li><a href="https://www.corjl.com/press/">Press</a></li> 
                            <li><a href="https://www.corjl.com/contact/">Contact</a></li> 
                        </ul>
                    </li>
                    <li><a href="javascript:void(0)">Etsy Sellers</a>
                        <ul class="dropdown">
                            <li><a href="https://www.corjl.com/etsy-digital-sellers/">Digital Sellers</a></li> 
                            <li><a href="https://www.corjl.com/getting-started/">- Getting Started</a></li> 
                            <li><a href="https://docs.google.com/document/d/1mV3Pbb-th0rhXaoYKgBt1U3NDjgADMkzHNHZ9qnQ5gM/edit" target="_blank">- Documentation</a></li>
                            <li><a href="https://www.corjl.com/small-business-resources/">- Seller Tool</a></li>> 
                        </ul>
                    </li>
                    <li><a href="https://www.corjl.com/plans">Pricing &amp; Sign Up</a></li> 
                    <li>
                        <a href="https://www.corjl.com/orders"><img src="<% url('/asset/images/base/edit-item-btn.png') %>"></a> 
                    </li>
                    <li>
                        <a href="https://www.corjl.com/designer/login"><img src="<% url('/asset/images/base/seller-login-btn.png') %>"></a> 
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>